
<%- include('./partials/header.ejs')%>
<div class = "About-content">
    <h1>Welcome to ApexGamingZone</h1>

    <h4>A destination where every gamer's needs and dreams are accomplished.Consoles, Accessories much more are waiting in store. Check our premium collections of Consoles , Games and Gaming Accesories  <br> 
        Sellers can join us by signing up and adding your products
    </h4>

    <div class = "about-images">
        <div id = "Latest Products"> 
            <img src="/resources/LatestProduct.jpg" alt="Latest Products">
            <p>Latest Products</p>
     </div>
        <div class="fast-delivery">
        <img src="/resources/fastdelivery.jpg" alt="fast-delivery">
        <p>Quick Delivery</p>
        </div>
        <div id = "Easy Process">
            <img src="/resources/EasyProcess.jpg" alt="Easy Process">
            <p>Easy Process</p>
         </div>
        
    </div>
</div>
<%- include('./partials/footer.ejs')%> 