
<%- include('./partials/header.ejs')%>
<div class = "error-content">
    <h3><%= error.status %>: &nbsp;<%= error.message %></h3>
    <a href="/"><p>Go Back to Home Page</p></a>
</div>
<%- include('./partials/footer.ejs')%> 