
<%- include('./partials/header.ejs')%>
<div class = "message-content">
   <h4>Thank you for contacting us! We will get back to you soon.</h4>
   <a href="/"><p>Go back to home page.</p></a>
</div>
<%- include('./partials/footer.ejs')%> 