<%- include('./partials/header.ejs')%>
   <!--Header section-->
   <header id="header">
    <div class="headercontainer">
       <div class="headercontent">
          <div class="header-item">
              <img src="/resources/Homepagewallpaper.jpg">
              <div class="header-item-text">
                <marquee width="70%" direction="right" height="80px">
                    Welcome To Apex Gaming Zone.
                </marquee>
                <p>A destination where every gamer's needs and dreams are accomplished.Consoles, Accessories much more are waiting in store. Check our premium collections of Consoles , Games and Gaming Accesories</p>
              </div>
          </div>
          <div class="header-item">
            <img src="/resources/Consoles.jpg">
            <div class="header-item-text">
              <h2>Grab your Favourite Console</h2>
              <p>Every three-to-five years, video game fans are treated to a new generation of consoles. In this way, gaming is different than any other artform—it’s as if someone invented a new way to experience music or movies every few years. Sure, technology advances over the decades in all mediums. But gaming is founded upon these so-called console generations.</p>
            </div>
        </div>
       </div>
   </div>
   </header>
   <!--News and Video section-->
   <section id="news">
       <div class="newscontainer">
           <h2>
               <i class="fas fa-rss"></i>News
           </h2>
       </div>
       <div class="latestnews">
           <h3>
               Latest News
           </h3>
           <article>
            <div class = "item-img">
                <img src = "/resources/Rainbowsix.jpg">                                
            </div>
            <div class = "item-text">
                <a href = "https://www.ubisoft.com/en-us/game/rainbow-six/siege" class = "h1">
                    <span class = "category">Rainbow Six Extraction</span>
                </a>
                <p class = "text">Ubisoft kicks off 2022 with Rainbow Six Extraction, a PvE spinoff of its ultra-popular shooter Rainbow Six Siege. Built on the foundation of Siege, Extraction pits teams of three against a parasitic alien threat. The shooter saw multiple delays (and a name change) since it was revealed at E3 2019.</p>
                <div class = "date">News | Latest | Jan 24th 11:00 AM</div>
            </div>
        </article>

        <article>
            <div class = "item-img">
                <img src = "/resources/horizon.jpg">                                
            </div>
            <div class = "item-text">
                <a href = "https://horizon.fandom.com/wiki/Horizon_Forbidden_West" class = "h1">
                    <span class = "category">Horizon Forbidden West</span>                                </a>
                <p class = "text">The first of three big PlayStation first-party exclusives on this list, Horizon Forbidden West continues Aloy’s journey as she investigates the mysterious Red Blight threatening life on Earth. It’s one of the most anticipated games of the year, and if nothing else, it promises to be stunning</p>
                <div class = "date">News | Platforms: PS4,PS5 | Jan 16th 02:00 AM</div>
            </div>
        </article>

        <article>
            <div class = "item-img">
                <img src = "resources/saintsrow.jpg">                                
            </div>
            <div class = "item-text">
                <a href = "https://www.saintsrow.com/" class = "h1">
                    <span class = "category">Saints Row</span>
                </a>
                <p class = "text">Volition’s rebooted Saints Row is decidedly less whacky than the series’ previous two entries, harking back to a balance of ridiculous and grounded last seen in Saints Row: The Third. The reveal was met with some skepticism from longtime Saints Row fans, but Volition is confident in its vision, responding to backlash by saying it’s “not backing down on this game.”</p>
                <div class = "date">News | Platforms: PS5, Xbox Series X|S, PS4, Xbox One, PC | Jan 24th 12:00 PM</div>
            </div>
        </article>

        <article>
            <div class = "item-img">
                <img src = "/resources/gotham.jpg">                                     
            </div>
            <div class = "item-text">
                <a href = "https://www.gothamknightsgame.com/en-us" class = "h1">
                    <span class = "category">Gotham Knights</span>
                </a>
                <p class = "text">Batman is dead, and the duty of protecting Gotham has fallen to Robin, Nightwing, Batgirl, and Red Hood — Gotham Knights’ four playable characters. The third-person brawler supports single-player and two-player co-op with a combat system that’s been “entirely redesigned” from the developer’s Batman Arkham game.</p>
                <div class = "date">News | Platforms: PS5, Xbox Series X|S, PS4, Xbox One, PC | Jan 26th 02:00 PM</div>
            </div>
        </article>                 
       </div>
   </section> 
</body>
<%- include('./partials/footer.ejs')%> 
