<%- include('../partials/header.ejs')%>
<div id = "cartpage">
    <h1>Item added to your Cart</h1>
    <p> <b> Name:</b> <%= newCartItem.Name%></p>
    <a href="/nav/cart">Go to Cart</a>
</div>
<%- include('../partials/footer.ejs')%>
