<footer class="socialmedia">
    <div class = "footer-links">
        <ul class = "About">
            <li class="aboutfooter">
                <a href = "/nav/about">About</a>
            </li>
            <li class="aboutfooter"> 
                <a href = "#">Advertise</a>
            </li>
            <li class="aboutfooter">
                <a href = "#">Privacy Policy</a>
            </li>
            <li class="aboutfooter">
                <a href = "#">Terms of Use</a>
            </li>
            <li class="aboutfooter">
                <a href = "/nav/Contact">Contact</a>
            </li>
            <li class="aboutfooter">
                <a href = "#">Reviews</a>
            </li>
        </ul>
        <a class="twitter"href="https://twitter.com" target="_blank">
            <ion-icon name="logo-twitter" ></ion-icon>
        </a>  
        <a class="instagram" href="https://www.instagram.com/apexgz2022" target="_blank">
            <ion-icon name="logo-instagram" ></ion-icon>
        </a>   
    </div>
    
</footer> 